[Unit]
Description=RiseupVPN Python
After=network.target network-online.target
StartLimitBurst=0
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1s
User=root
ExecStart=riseupvpn.py --dont-drop --interface riseupvpn
PrivateTmp=true
AmbientCapabilities=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_SYS_CHROOT CAP_DAC_OVERRIDE CAP_KILL
CapabilityBoundingSet=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_SYS_CHROOT CAP_DAC_OVERRIDE CAP_KILL
LimitNPROC=10
DeviceAllow=/dev/null rw
DeviceAllow=/dev/net/tun rw
ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
